body{
    margin: 0;
    padding: 0;
    /*background: url(bg.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(bg.jpg);
}
.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;    
    max-width: 70vw;
    min-height: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"]{
    border: none;
    border-bottom: 2px solid #262626;
    background: transparent;
    outline: none;
    height: 40px;
    color: #262626;
    font-size: 16px;
    padding-left: 30px;
    box-sizing: border-box;
}
.loginBox input[type="text"]::placeholder{
    color: #262626;
    font-family: 'Roboto', sans-serif;
}
.loginBox input[type="text"]:focus{
    border-bottom: 2px solid #1ed760;
}
.user{
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    height: 55px;
}
h3{
    margin: 0;
    padding: 0 0 15px;
    color: black;
    text-align: center;
}
.inputBox{
    position: relative;
}
.inputBox span{
    position: absolute;
    top: 10px;
    color: #262626;
}
.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #1ed760;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    cursor: pointer;
}
.cuadrados{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #1ed760;
    color: #fff;
    border-radius: 20px;
}
h4{
    text-align: justify;
}
a{    
    text-decoration: none;
}
ul{
    list-style: decimal-leading-zero;
    text-align: justify;
}